# Dependencies
node_modules/
package-lock.json

# Test Reports
reports/
*.log
logs/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Documentation (ignore all .md files except README.md)
*.md
!README.md


